<div class="card bg-light text-dark py-2 my-2">    
    <div class="card-header text-left">
        Consultar Reservas
    </div>
    <div class="card-body">
        <form>
            <div class="form-group form-inline row">
                <label for="documentNumber">Numero de documento</label>
                <div class="col-sm-6">
                <input id="numeroDocumentoConsultaReserva" class="form-control" type="text" [(ngModel)]="numeroDocumentoPersona" name="documentNumber">
                </div>
                <div class="col-sm-6">
                    <button id="botonBuscarReserva" class="btn btn-secondary" (click) = 'buscar()' type="button">Consultar</button>
                </div>      
            </div>
          </form>
          
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">nombre</th>
              <th scope="col">documento</th>
              <th scope="col">fecha</th>
              <th scope="col">valor</th>
              <th scope="col">modificar</th>
            </tr>
            </thead>
            <tbody class="align-middle reservas">
            <tr *ngFor="let reserva of listaReservas; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{reserva.persona.nombre}}</td>
              <td>{{reserva.persona.id}}</td>
              <td>{{reserva.fechaReserva}}</td>
              <td>{{reserva.valorAPagar}}</td>
              <td><button id="botonEliminarReserva" class="btn btn-danger" (click) = 'eliminar(reserva)'>eliminar</button></td>
            </tr>
            </tbody>
          </table>
          
    </div>
</div>
