<div class="row">
    <div class="col-sm-2 text-left">
        <ul class="my-1">
            <li>
                <a class="badge bg-primary text-wrap opcion-lista" id="linkCrearReserva" href="./reserva/crear">crear reserva</a>
            </li>

            <li>
                <a class="badge bg-primary text-wrap opcion-lista" id="linkConsultarReservas" href="./reserva/buscar">consultar reserva</a>
            </li>
        </ul>
        
      </div>
      <div class="col-sm-9 mx-1 ">
        <router-outlet></router-outlet>
      </div>
</div>

