<div class="card bg-light text-dark py-2 my-2">    
    <div class="card-header text-left">
        Crear Reserva
      </div>
    <div class="card-body">
    
        <form #f="ngForm" (ngSubmit)="f.form.valid && crear()" novalidate>
            <div class="form-group row">
                <label for="documentNumber" class="form-label">Numero de documento</label>
                <div class="col-sm-6">
                    <input id="numeroDocumentoCrearReserva" class="form-control" type="number" name="documentNumber" [(ngModel)]="reserva.persona.id" #id="ngModel" [ngClass]="{ 'is-invalid': f.submitted && id.invalid }" required>
                    <div class="invalid-feedback" *ngIf="f.submitted && id.invalid">Debe ingresar su numero de documento</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="form-label">Nombre</label>
                <div class="col-sm-6">
                    <input id="nombreCrearReserva" class="form-control" type="text" name="name" [(ngModel)]="reserva.persona.nombre" #nombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nombre.invalid }"  required>
                    <div class="invalid-feedback" *ngIf="f.submitted && nombre.invalid">Debe ingresar su nombre</div>
                </div>
            </div>
        
            <div class="form-group row">
                <label for="dateReserva" class="form-label">Fecha de reserva</label>
                <div class="col-sm-6">
                    <input id="fechaCrearReserva" class="form-control" type="date" name="dateReserva" [(ngModel)]="reserva.fechaReserva" #fechaReserva="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fechaReserva.invalid }" required>
                    <div class="invalid-feedback" *ngIf="f.submitted && fechaReserva.invalid">Debe elegir un dia de lunes a sabado a partir de mañana</div>
                </div>
            </div>
        
            <div class="form-group row">
                <div class="col-sm-6">
                    <button id="botonCrearReserva" class="btn btn-primary my-3" >Crear</button>
                </div>
            </div>
        
         </form>
        </div>
    
    </div>
